.post {
    display: flex;
    font-family: 'Nunito', sans-serif;
  
}

.left {
    background-color: beige;
    flex: 7;
    padding: 15px 20px;
    margin-right: 20px;
}

.header {
    display: flex;
}


.heading {

    font-size: 45px;
    font-weight: 700;
    /* background-color: rgb(255, 173, 173); */
    /* flex: 90%; */

}


.header > div:nth-child(2){
    font-size: 1.3em;
    cursor: pointer;
}


.info {
    display: flex;
    box-sizing: border-box;
}


.description {
    margin: 15px 0;
    max-width: 70%;
    font-size: 20px;
}


.info > div:nth-child(1) {
    background-color: aqua;
    flex: 20%;
    padding: 5px;
    text-align: center;
    max-width:max-content;
    
}

.info > div:nth-child(2) {
    background-color: rgb(217, 255, 212);
    flex: 80%;
    display: flex;
}


.like {
    background-color: rgb(220, 253, 142);
    
   
    border:1px solid #CCC;
    
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    
    padding: 5px;
    text-align: center;
}




.dislike {
    background-color: rgb(255, 138, 138);
   
    border:1px solid #CCC;
    
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    
    padding: 5px;
    text-align: center;
    
}
































.right {
    background-color: rgb(160, 236, 255);
    flex: 3;
    padding: 8px 5px;
}


.right span {

    font-weight: 500;
    font-size: 20px;

}


.recommend {

    /* border: 0.2px solid rgba(179, 179, 179, 0.274); */
    margin-top: 18px;
}

