.post {
    display: flex;
}

.left {
    background-color: beige;
    flex: 7
}


.heading {
    
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 700;

}


.info {
    display: flex;
    box-sizing: border-box;
}


.info > div:nth-child(1) {
    background-color: aqua;
    flex: 20%;
    padding: 5px;
    text-align: center;
    max-width:max-content;
    
}

.info > div:nth-child(2) {
    background-color: rgb(217, 255, 212);
    flex: 80%;
    display: flex;
}


.info > div:nth-child(2) > div:nth-child(1)
{
    background-color: rgb(220, 253, 142);
    
   
    border:1px solid #CCC;
    
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    
    padding: 5px;
    text-align: center;
}




.info > div:nth-child(2) > div:nth-child(2){
    background-color: rgb(255, 138, 138);
    padding: 6px;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    
}































.right {
    background-color: rgb(160, 236, 255);
    flex: 3;
}