
.searchBar {
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
    height: 80%;
    width: 100%;
}




.searchBar > input {
   
    width: 90%;
    height: 68%;
    background-color: rgb(167, 208, 255);
    border: 0;
    outline: 0;

}

.searchBar > button {
    height: 70%;
    background-color: rgb(167, 208, 255);
    border: 0;
    outline: 0;
    margin-left: 2px;
    color: rgb(128, 128, 128);
    cursor: pointer;
}

.searchBar > button:disabled {
    height: 70%;
    background-color: rgb(143, 143, 143);
    border: 0;
    outline: 0;
    margin-left: 2px;
    color: rgb(238, 238, 238);
    cursor: not-allowed
}